#infor-SanPham{
    width: 100%;
    padding: 50px 80px;
}
.hinhAnh-sanPham{
    width: 30%;
    float: left;
    padding: 0px 10px;
}

.chiTietSanPham{
    width: 79%;
    float: right;
}
.thongTin-sanPham{
    float: right;
    width: 70%;
}
.mauSac img{
    width: 80px;
    height: auto; 
}
.mauSac{
    display: flex;
}

.ten-sanPham{
    color: #2d2d2d;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    font-style: normal;
    margin: 10px 0px;
}
.thongTin-sanPham .lienHe{
    color: #ff0000;
    font-weight: 600;
    line-height: 38px;
    font-size: 25px;
}
.thongTin-sanPham .mauSacP{
    color: #2d2d2d;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 10px 0px;
}
.thongTin-sanPham input{
    padding: 10px 10px;
    width: 10%;
}
.thongTin-sanPham .themVaoGioHang{
    padding: 10px 20px;
    width: 45%;
    background: none;
    border: 2px solid #ff0000;
   
}
.thongTin-sanPham .themVaoGioHang p {
    color: #ff0000;
    font-size: 14px;
    line-height: 21px;
  
}
.thongTin-sanPham .muangay{
    padding: 10px 20px;
    width: 45%;
    background: none;
    border: 2px solid #2d2d2d;
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2%;
}
.mauSac button{
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 35px;
}
.mauSac{
    display: flex;
    align-items: center;
}
.mauSac input{
    width: 70px;
    height: 35px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: text;
    border-radius: 0;
    outline: none;
}